<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>长庆出行</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="/css/weui/weui.css"/>
    <link rel="stylesheet" href="/css/weui/weuix.css"/>

    <script src="/js/weui/zepto.min.js"></script>
    <script src="/js/weui/zepto.weui.js"></script>
    <script src="/js/weui/iscroll-lite.js"></script>
    <script src="/js/weui/lrz.min.js"></script>
    <script>

    </script>
</head>

<body ontouchstart>
{{template "sildePic.html" .}}
<div class="weui-content">
    <div class="weui-c-inner">
        <div class="weui-c-content">
            <h2 class="weui-c-title">关于我们</h2>
            <div class="weui-c-meta">
                <span class="weui-c-nickname"><a href="javascript:;">长庆出行</a></span>
                <em class="weui-c-nickname">2019-07-01 07:01</em>
            </div>
            <div class="weui-c-article">
                <p>
                    长庆出行为提供油田职工、家属往返油区各单位与油田基地的公益拼车信息查询、预约平台。
                </p>
                <p>
                    我们都是生在油田、长在油田的石油子弟，毕业离家后从事互联网相关工作；本次回家时，看到家人、朋友还在使用QQ、微信的各种群进行拼车，感觉到在使用成本、沟通成本特别是安全上都存在特别大的隐患。
                </p>
                <p>
                    2019年5月，同为油田子弟的我们，觉得自己开发出一款在线拼车平台，为家人、朋友的出行提供更加安全、便利的保证；我们自己写程序、租服务器、开设公众号、收集各个作业区的地址，就有了现在您看到的这个平台。
                </p>
                <p>
                    为了您好您的家人、朋友能够多一份保障、多一份便利，期待您与我们一同共建这个平台，反馈更多的意见、建议。
                </p>
            </div>
        </div>
    </div>
</div>
{{template "bottomNav.html" .}}

</body>

</head>
</html>