<html>
<head>
    <meta charset="utf-8">
    <title>后台主页</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="/css/weui/weui.css"/>
    <link rel="stylesheet" href="/css/weui/weuix.css"/>
    <link rel="stylesheet" href="http://8.url.cn/edu/classroom/assets/lib/reset.css">
    <link rel="stylesheet" href="/css/style.css">

    <script src="/js/weui/zepto.min.js"></script>
    <script src="/js/weui/zepto.weui.js"></script>
    <script src="/js/weui/iscroll-lite.js"></script>
    <script src="/js/weui/lrz.min.js"></script>
</head>
<body>
<div class="page-hd">
    <a href="/admin/dconfirm" class="weui-btn weui-btn_primary">车主身份审核</a>
    <br>
    <a href="/admin/userwithdrew" class="weui-btn weui-btn_primary">提现需求处理</a>
    <br>
    <a href="/admin/showcomplain" class="weui-btn weui-btn_primary">投诉处理</a>
    <br>
    <a href="/admin/report" class="weui-btn weui-btn_primary">信息汇总</a>
    <br>
</div>

</body>
</html>