<html>
<head>
    <meta charset="utf-8">
    <title>车主审核</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="/css/weui/weui.css"/>
    <link rel="stylesheet" href="/css/weui/weuix.css"/>
    <link rel="stylesheet" href="http://8.url.cn/edu/classroom/assets/lib/reset.css">
    <link rel="stylesheet" href="/css/style.css">

    <script src="/js/weui/zepto.min.js"></script>
    <script src="/js/weui/zepto.weui.js"></script>
    <script src="/js/weui/iscroll-lite.js"></script>
    <script src="/js/weui/lrz.min.js"></script>
</head>
<body>
{{if lt .num 1}}
没有未审核的车主申请
{{else}}
<table border="1">
    <tr>
        <th>申请号</th>
        <th>车主名</th>
        <th>申请时间</th>
        <th>操作</th>
    </tr>
    {{range .list}}
    <tr>
        <td>{{.Id}}</td>
        <td>{{.RealName}}</td>
        <td>{{.Time}}</td>
        <td><a href="/admin/confirmDriverDetail/{{.Id}}">查看</a><td>
    </tr>
    {{end}}
</table>
{{end}}
</body>
</html>