<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>长庆出行</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="/css/weui/weui.css"/>
    <link rel="stylesheet" href="/css/weui/weuix.css"/>
    <link rel="stylesheet" href="http://8.url.cn/edu/classroom/assets/lib/reset.css">
    <link rel="stylesheet" href="/css/style.css">

    <script src="/js/weui/zepto.min.js"></script>
    <script src="/js/weui/zepto.weui.js"></script>
    <script src="/js/weui/iscroll-lite.js"></script>
    <script src="/js/weui/lrz.min.js"></script>
    <script>
        function init() {
            $("#content").scrollTop($("#content")[0].scrollHeight);
            $("#huifu")[0].focus();
        }
    </script>
</head>

<body ontouchstart onload="init()">
<div class="page-hd">
    <header>
        <div class="nav-back">
            <i class="icon icon-back"></i>
            <span>返回</span>
        </div>
        <h1>车主</h1>
    </header>
</div>
<div class="page-bg" name="content" id="content" style="overflow-y: scroll;overflow-x: hidden; max-height:88%;">
    <div class="message-item message-item--left">
        <img class="avatar" src="/img/1.jpg" alt="头像">
        <div class="message-bubble">第一条</div>
    </div>
    <div class="message-item message-item--right">
        <img class="avatar" src="/img/3.png" alt="头像">
        <div class="message-bubble">高中三年 我为什么 为什么不好好读书 没考上跟你一样的大学</div>
    </div>
    <div class="message-item message-item--left">
        <img class="avatar" src="/img/1.jpg" alt="头像">
        <div class="message-bubble">你住的 巷子里 我租了一间公寓</div>
    </div>
    <div class="message-item message-item--right">
        <img class="avatar" src="/img/3.png" alt="头像">
        <div class="message-bubble">高中三年 我为什么 为什么不好好读书 没考上跟你一样的大学</div>
    </div>
    <div class="message-item message-item--left">
        <img class="avatar" src="/img/1.jpg" alt="头像">
        <div class="message-bubble">你住的 巷子里 我租了一间公寓</div>
    </div>
    <div class="message-item message-item--right">
        <img class="avatar" src="/img/3.png" alt="头像">
        <div class="message-bubble">高中三年 我为什么 为什么不好好读书 没考上跟你一样的大学</div>
    </div>
    <div class="message-item message-item--left">
        <img class="avatar" src="/img/1.jpg" alt="头像">
        <div class="message-bubble">你住的 巷子里 我租了一间公寓</div>
    </div>
    <div class="message-item message-item--right">
        <img class="avatar" src="/img/3.png" alt="头像">
        <div class="message-bubble">高中三年 我为什么 为什么不好好读书 没考上跟你一样的大学</div>
    </div>
    <div class="message-item message-item--left">
        <img class="avatar" src="/img/1.jpg" alt="头像">
        <div class="message-bubble">你住的 巷子里 我租了一间公寓</div>
    </div>
    <div class="message-item message-item--right">
        <img class="avatar" src="/img/3.png" alt="头像">
        <div class="message-bubble">高中三年 我为什么 为什么不好好读书 没考上跟你一样的大学</div>
    </div>
    <div class="message-item message-item--left">
        <img class="avatar" src="/img/1.jpg" alt="头像">
        <div class="message-bubble">你住的 巷子里 我租了一间公寓</div>
    </div>
    <div class="message-item message-item--right">
        <img class="avatar" src="/img/3.png" alt="头像">
        <div class="message-bubble">高中三年 我为什么 为什么不好好读书 没考上跟你一样的大学</div>
    </div>
    <div class="message-item message-item--left">
        <img class="avatar" src="/img/1.jpg" alt="头像">
        <div class="message-bubble">你住的 巷子里 我租了一间公寓</div>
    </div>
    <div class="message-item message-item--right">
        <img class="avatar" src="/img/3.png" alt="头像">
        <div class="message-bubble">最底下</div>
    </div>
</div>

<div class="page-bd" style="height:40px">
    <div class="weui-tab tab-bottom " style="height:40px" id="bottom">
        <div class="weui-tab__panel">

        </div>
        <div class="weui-tabbar" style="height:40px">
            <div class="weui-cell weui-cell_vcode" style="width:100%">
                <div class="weui-cell__bd" style="width:60%">
                    <input class="weui-input" placeholder="" id="huifu">
                </div>
                <div class="weui-cell__ft" style="width:40%">
                    <button  class="weui-vcode-btn" onclick="settime(this)">立即回复</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>