<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>长庆出行</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="/css/weui/weui.css"/>
    <link rel="stylesheet" href="/css/weui/weuix.css"/>

    <script src="/js/weui/zepto.min.js"></script>
    <script src="/js/weui/zepto.weui.js"></script>
    <script src="/js/weui/iscroll-lite.js"></script>
    <script src="/js/weui/lrz.min.js"></script>
    <script>

    </script>
</head>

<body ontouchstart>
{{template "sildePic.html" .}}
<div class="weui-content">
    <div class="weui-c-inner">
        <div class="weui-c-content">
            <h2 class="weui-c-title">免责申明</h2>
            <div class="weui-c-meta">
                <span class="weui-c-nickname"><a href="javascript:;">长庆出行</a></span>
                <em class="weui-c-nickname">2019-07-01 07:01</em>
            </div>
            <div class="weui-c-article">
                <p>
                    1 在本拼车平台上向您提供的信息、推荐的服务，仅供您参考，并不构成建议。我们将在合理的范围内尽力保证信息的准确合法，但是无法保证其中没有任何错误，缺陷，恶意信息，和病毒。对于因使用（或无法使用）网站或微信拼车平台导致的任何伤害（包括人身伤亡），我们不承担任何责任（除非此类伤害由我们的故意或重大疏忽造成），此外，因使用（或无法使用）与网站或微信拼车平台的电子通信手段，导致的任何伤害，包括（但不限于）因电子信息传达失败或者延时，第三方或用于电子通讯的计算机程序对电子通信的拦截或操纵，以及病毒传播导致的伤害，我们不承担任何责任。任何情况下，我们对因我们的服务造成的损失承担的全部责任，不超过因为信息而成交的订单金额。除非此类伤害是由我们的故意或重大疏忽造成的。
                </p>
                <p>
                    2 如遇信息的不真实或者车主（或乘客）临时违约，甚至欺诈，诈骗，威胁等暴力犯罪侵害，请及时拨打110报警解决，本平台不对信息的真实性，合理性，合法性承担任何法律责任。请车主（或乘客）自行判断，并采取积极的防范措施。
                </p>
                <p>
                    3 如果在乘车过程中发生交通事故，导致人身伤害，请以普通交通事故性质定责，本平台不对信息相关的车辆的交通事故承担任何赔偿责任。
                </p>
            </div>
        </div>
    </div>
</div>
{{template "bottomNav.html" .}}

</body>

</head>
</html>