<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="/css/weui/weui.css"/>
    <link rel="stylesheet" href="/css/weui/weuix.css"/>

    <script src="/js/weui/zepto.min.js"></script>
    <script src="/js/weui/zepto.weui.js"></script>
    <script src="/js/weui/iscroll-lite.js"></script>
    <script src="/js/weui/lrz.min.js"></script>
    <script>
        $(function(){

            $('#bottom').tab({
                defaultIndex: 0,
                activeClass: 'weui-bar__item_on',
            })
        })

        $(function(){

            var tmpl = '<li class="weui-uploader__file" style="background-image:url(#url#)"></li>';
            var      $uploaderInput = $("#uploaderInput"); //上传按钮+
            var       $uploaderFiles = $("#uploaderFiles");    //图片列表
            var $galleryImg = $(".weui-gallery__img");//相册图片地址
            var $gallery = $(".weui-gallery");
            $uploaderInput.on("change", function(e){
                var src, url = window.URL || window.webkitURL || window.mozURL, files = e.target.files;
                for (var i = 0, len = files.length; i < len; ++i) {
                    var file = files[i];

                    if (url) {
                        src = url.createObjectURL(file);
                    } else {
                        src = e.target.result;
                    }

                    $uploaderFiles.append($(tmpl.replace('#url#', src)));
                }
            });
            $uploaderFiles.on("click", "li", function(){
                $galleryImg.attr("style", this.getAttribute("style"));
                console.log(this)
                $gallery.fadeIn(100);
            });
            $gallery.on("click", function(){
                $gallery.fadeOut(100);
            });

        });

    </script>
</head>

<body ontouchstart>

{{template "top.html" .}}

{{template "bottomNav.html" .}}

<div class="weui-cells__title">驾驶员身份审核</div>

<div class="weui-cells weui-cells_form">
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">姓名：</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="driverName" name="driverName" placeholder="如：张三" type="text">
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">身份证号：</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="idNum" name="idNum" placeholder="" type="text">
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">车辆品牌：</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="carType" name="carType" placeholder="如：大众迈腾" type="text">
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">车牌号：</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="carNum" name="carNum" placeholder="如：陕A258FZ" type="text">
        </div>
    </div>
</div>

<div class="weui-cells__title">需上传4张照片：驾驶证、行驶证、手持行驶证、汽车带牌正面照</div>

<div class="page-bd-15">
    <div class="weui-uploader">
        <div class="weui-uploader__bd">
            <ul class="weui-uploader__files" id="uploaderFiles">
            </ul>
            <div class="weui-uploader__input-box">
                <input id="uploaderInput" class="weui-uploader__input" accept="image/*" multiple="" type="file">
            </div>
        </div>
    </div>
</div>
<label for="weuiAgree" class="weui-agree">
    <input id="weuiAgree" class="weui-agree__checkbox" type="checkbox" checked>
    <span class="weui-agree__text">
                阅读并同意<a href="http://m.guokr.com/help/privacy/">《隐私条款》</a>
            </span>
</label>

<div class="weui-btn-area">
    <a class="weui-btn weui-btn_primary" href="javascript:" id="btn">提交验证</a>
</div>

</body>
</html>