<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>全油通</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="/css/weui/weui.css"/>
    <link rel="stylesheet" href="/css/weui/weuix.css"/>

    <script src="/js/weui/zepto.min.js"></script>
    <script src="/js/weui/zepto.weui.js"></script>
    <script src="/js/weui/iscroll-lite.js"></script>
    <script src="/js/weui/lrz.min.js"></script>
    <script>

    </script>
</head>

<body ontouchstart>

<div class="page-bd-15">
    <div class="weui-cells__title">
        {{.url}}
    </div>

</div>
{{template "bottomNav.html" .}}

</body>

</head>
</html>