<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>长庆出行</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="/css/weui/weui.css"/>
    <link rel="stylesheet" href="/css/weui/weuix.css"/>

    <script src="/js/weui/zepto.min.js"></script>
    <script src="/js/weui/zepto.weui.js"></script>
    <script src="/js/weui/iscroll-lite.js"></script>
    <script src="/js/weui/lrz.min.js"></script>
    <script>

    </script>
</head>

<body ontouchstart>
{{template "sildePic.html" .}}
<div class="weui-content">
    <div class="weui-c-inner">
        <div class="weui-c-content">
            <h2 class="weui-c-title">如何发布行程</h2>
            <div class="weui-c-meta">
                <span class="weui-c-nickname"><a href="javascript:;">长庆出行</a></span>
                <em class="weui-c-nickname">2019-07-01 07:01</em>
            </div>
            <div class="weui-c-article">
                <p>
                    车主可在公众号下方菜单栏选择【我是车主】-》【发布行程】进入行程筛选页面。
                </p>
                <p>
                    进入"长庆出行"平台后，也可以选择下方导航栏中的【车主行程】-》【发布行程】进入行程筛选页面。
                </p>
                <p>
                    1. 在创建行程页面中选择您的【出发日期】、【出发地】、【目的地】、【发布座位数】、【单座价格】等信息后即可完成行程发布。
                </p>
                <p>
                    2. 当有乘客提出拼车请求后，您可通过【车主行程】-》【进入当前行程】来查看乘客请求，并可通过、拒绝或在线交流。
                </p>
                <p>
                    车主在发布行程前请尽快完成车主认证，若未认证仅能在平台发起一次行程，且行程中会有显示"未认证"标记。
                </p>
            </div>
        </div>
    </div>
</div>
{{template "bottomNav.html" .}}

</body>

</head>
</html>