<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>长庆出行</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="/css/weui/weui.css"/>
    <link rel="stylesheet" href="/css/weui/weuix.css"/>

    <script src="/js/weui/zepto.min.js"></script>
    <script src="/js/weui/zepto.weui.js"></script>
    <script src="/js/weui/iscroll-lite.js"></script>
    <script src="/js/weui/lrz.min.js"></script>
    <script>

    </script>
</head>

<body ontouchstart>
{{template "sildePic.html" .}}
<div class="weui-content">
    <div class="weui-c-inner">
        <div class="weui-c-content">
            <h2 class="weui-c-title">临时取消怎么办</h2>
            <div class="weui-c-meta">
                <span class="weui-c-nickname"><a href="javascript:;">长庆出行</a></span>
                <em class="weui-c-nickname">2019-07-01 07:01</em>
            </div>
            <div class="weui-c-article">
                <p>
                    若车主未通过您的拼车申请，取消后全部旅费将退回您的账户。
                </p>
                <p>
                    若车主通过了您的拼车申请，且距离出发时间大于30分钟，取消后全部旅费将退回您的账户。
                </p>
                <p>
                    若车主通过了您的拼车申请，且距离出发时间小于30分钟，取消后将扣除旅费的20%作为违约金转至车主账户，剩余80%将退回您的账户。
                </p>
            </div>
        </div>
    </div>
</div>
{{template "bottomNav.html" .}}

</body>

</head>
</html>