<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>长庆出行</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="/css/weui/weui.css"/>
    <link rel="stylesheet" href="/css/weui/weuix.css"/>

    <script src="/js/weui/zepto.min.js"></script>
    <script src="/js/weui/zepto.weui.js"></script>
    <script src="/js/weui/iscroll-lite.js"></script>
    <script src="/js/weui/lrz.min.js"></script>
    <script>

    </script>
</head>

<body ontouchstart>
{{template "sildePic.html" .}}
<div class="weui-content">
    <div class="weui-c-inner">
        <div class="weui-c-content">
            <h2 class="weui-c-title">乘客如何预约行程</h2>
            <div class="weui-c-meta">
                <span class="weui-c-nickname"><a href="javascript:;">长庆出行</a></span>
                <em class="weui-c-nickname">2019-07-01 07:01</em>
            </div>
            <div class="weui-c-article">
                <p>
                    乘客可在公众号下方菜单栏选择【我是乘客】-》【我要拼车】进入行程筛选页面。
                </p>
                <p>
                    进入"长庆出行"平台后，也可以选择下方导航栏中的【找拼车】进入行程筛选页面。
                </p>
                <p>
                    1. 在筛选页面中选择您的【出发日期】、【出发地】、【目的地】后系统会自动匹配符合您要求的行程，建议您优选使用"油田单位"、"油田基地选项"。
                </p>
                <p>
                    2. 在结果中挑选符合您需要的行程，点击"立即预约"即可看到行程详情，确定需要的座位数后即可发起预约。
                </p>
                <p>
                    3. 当车主确认预约请求后，行程预约即成功，您可看到车主的手机号，同时也可以在行程详情中通过"查看留言"功能与车主在线沟通。
                </p>
            </div>
        </div>
    </div>
</div>
{{template "bottomNav.html" .}}

</body>

</head>
</html>