<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>长庆出行</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="/css/weui/weui.css"/>
    <link rel="stylesheet" href="/css/weui/weuix.css"/>

    <script src="/js/weui/zepto.min.js"></script>
    <script src="/js/weui/zepto.weui.js"></script>
    <script src="/js/weui/iscroll-lite.js"></script>
    <script src="/js/weui/lrz.min.js"></script>
    <script>

    </script>
</head>

<body ontouchstart>
{{template "sildePic.html" .}}
<div class="weui-content">
    <div class="weui-c-inner">
        <div class="weui-c-content">
            <h2 class="weui-c-title">如何预充/提现</h2>
            <div class="weui-c-meta">
                <span class="weui-c-nickname"><a href="javascript:;">长庆出行</a></span>
                <em class="weui-c-nickname">2019-07-01 07:01</em>
            </div>
            <div class="weui-c-article">
                <p>
                    预充：在【个人中心】-》【充值】处可通过微信支付进行充值，充值金额立即到帐，充值后也可通过提现将账户余额提取至微信零钱
                </p>
                <p>
                    提现：在【个人中心】-》【提现】处可提交提现申请，因微信与平台结算周期的原因，发起提现后，金额将在1～2个工作日内转入您的微信零钱
                </p>
                <p>
                    由于微信要求，提现前请保证您的微信账号已完成实名认证（若已绑定银行卡，则说明已完成实名认证）
                </p>
            </div>
        </div>
    </div>
</div>
{{template "bottomNav.html" .}}

</body>

</head>
</html>