<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>长庆出行</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="/css/weui/weui.css"/>
    <link rel="stylesheet" href="/css/weui/weuix.css"/>

    <script src="/js/weui/zepto.min.js"></script>
    <script src="/js/weui/zepto.weui.js"></script>
    <script src="/js/weui/iscroll-lite.js"></script>
    <script src="/js/weui/lrz.min.js"></script>
    <script>

    </script>
</head>

<body ontouchstart>
{{template "sildePic.html" .}}
<div class="weui-content">
    <div class="weui-c-inner">
        <div class="weui-c-content">
            <h2 class="weui-c-title">如何收款</h2>
            <div class="weui-c-meta">
                <span class="weui-c-nickname"><a href="javascript:;">长庆出行</a></span>
                <em class="weui-c-nickname">2019-07-01 07:01</em>
            </div>
            <div class="weui-c-article">
                <p>
                    为保证行程顺利，平台采用预充款模式。
                </p>
                <p>
                    当乘客预约行程后，旅费即由平台带扣。当乘客确认到达目的地后，旅费将自动转入车主账户。
                </p>
                <p>
                    车主可用过【个人中心】-》【提现】发起提现申请，申请后的1～2个工作日内，资金将会自动转入您的微信钱包，平台不收取任何手续费。
                </p>
            </div>
        </div>
    </div>
</div>
{{template "bottomNav.html" .}}

</body>

</head>
</html>