<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>长庆出行</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="/css/weui/weui.css"/>
    <link rel="stylesheet" href="/css/weui/weuix.css"/>

    <script src="/js/weui/zepto.min.js"></script>
    <script src="/js/weui/zepto.weui.js"></script>
    <script src="/js/weui/iscroll-lite.js"></script>
    <script src="/js/weui/lrz.min.js"></script>
    <script>

    </script>
</head>

<body ontouchstart>
{{template "sildePic.html" .}}

<div class="page-bd">
    <div class="weui-cells__title">我是乘客</div>
    <div class="weui-cells">
        <a class="weui-cell weui-cell_access" href="/portal/help01">
            <div class="weui-cell__bd">
                <p>如何预约行程</p>
            </div>
            <div class="weui-cell__ft">
            </div>
        </a>
        <a class="weui-cell weui-cell_access" href="/portal/help02">
            <div class="weui-cell__bd">
                <p>如何付款</p>
            </div>
            <div class="weui-cell__ft">
            </div>
        </a>
        <a class="weui-cell weui-cell_access" href="/portal/help03">
            <div class="weui-cell__bd">
                <p>临时取消怎么办</p>
            </div>
            <div class="weui-cell__ft">
            </div>
        </a>
    </div>
    <div class="weui-cells__title">我是车主</div>
    <div class="weui-cells">
        <a class="weui-cell weui-cell_access" href="/portal/help11">
            <div class="weui-cell__bd">
                <p>如何发布行程</p>
            </div>
            <div class="weui-cell__ft">
            </div>
        </a>
        <a class="weui-cell weui-cell_access" href="/portal/help12">
            <div class="weui-cell__bd">
                <p>如何验证车主身份</p>
            </div>
            <div class="weui-cell__ft">
            </div>
        </a>
        <a class="weui-cell weui-cell_access" href="/portal/help13">
            <div class="weui-cell__bd">
                <p>如何收款</p>
            </div>
            <div class="weui-cell__ft">
            </div>
        </a>
        <a class="weui-cell weui-cell_access" href="/portal/help14">
            <div class="weui-cell__bd">
                <p>临时取消怎么办</p>
            </div>
            <div class="weui-cell__ft">
            </div>
        </a>
    </div>
    <div class="weui-cells__title">通用问题</div>
    <div class="weui-cells">
        <a class="weui-cell weui-cell_access" href="/portal/help21">
            <div class="weui-cell__bd">
                <p>如何预充/提现</p>
            </div>
            <div class="weui-cell__ft">
            </div>
        </a>
        <a class="weui-cell weui-cell_access" href="/portal/help22">
            <div class="weui-cell__bd">
                <p>为什么要绑定手机号</p>
            </div>
            <div class="weui-cell__ft">
            </div>
        </a>
        <a class="weui-cell weui-cell_access" href="/portal/help23">
            <div class="weui-cell__bd">
                <p>若遇到纠纷怎么处理</p>
            </div>
            <div class="weui-cell__ft">
            </div>
        </a>
    </div>
</div>
{{template "bottomNav.html" .}}

</body>

</head>
</html>