<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>长庆出行</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="/css/weui/weui.css"/>
    <link rel="stylesheet" href="/css/weui/weuix.css"/>

    <script src="/js/weui/zepto.min.js"></script>
    <script src="/js/weui/zepto.weui.js"></script>
    <script src="/js/weui/iscroll-lite.js"></script>
    <script src="/js/weui/lrz.min.js"></script>
    <script src="/js/weui/iscroll-lite.js"></script>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
    <script>
        $(function(){
            $(".weui-payselect-li").on('click',function(){
                $(this).children().addClass("weui-payselect-on");
                $(this).siblings().children().removeClass("weui-payselect-on");
                $("#money").val($(this).val())
                return false;
            });
        });

        var appId,timeStamp,nonceStr,package,signType,paySign;

        function chongzhi() {
            var money =$("#money").val();
            $.ajax({
                type:"GET",
                url:"/Portal/WxInvest?money="+money,
                success : function(result) {
                    console.log(result)
                    console.log(result.Code)
                    if (result.Code != 0) {
                        $(".loading2").hide();
                        $.alert(result.Msg,"支付失败");
                    }
                    else {
                        appId = result.Data.appId;
                        timeStamp = result.Data.timeStamp;
                        nonceStr = result.Data.nonceStr;
                        package = result.Data.package;
                        signType = result.Data.signType;
                        paySign = result.Data.paySign;
                        if (typeof WeixinJSBridge == "undefined") {
                            if (document.addEventListener) {
                                document.addEventListener('WeixinJSBridgeReady',
                                    onBridgeReady, false);
                            } else if (document.attachEvent) {
                                document.attachEvent('WeixinJSBridgeReady',
                                    onBridgeReady);
                                document.attachEvent('onWeixinJSBridgeReady',
                                    onBridgeReady);
                            }
                        } else {
                            onBridgeReady();
                        }
                    }
                },
                error : function(result) {
                    $(".loading2").hide();
                    $.toast("网络繁忙，请重试" , "forbidden");
                }
            });
        }

        function onBridgeReady(){
            WeixinJSBridge.invoke( 'getBrandWCPayRequest', {
                    "appId":appId,     //公众号名称,由商户传入
                    "timeStamp":timeStamp,         //时间戳,自1970年以来的秒数
                    "nonceStr":nonceStr, //随机串
                    "package":package,
                    "signType":signType,         //微信签名方式：
                    "paySign":paySign //微信签名
                },
                function(res){
                    console.log(res)
                    if(res.err_msg == "get_brand_wcpay_request:ok" ) {
                        console.log('支付成功');
                        //支付成功后跳转的页面
                    }else if(res.err_msg == "get_brand_wcpay_request:cancel"){
                        console.log('支付取消');
                    }else if(res.err_msg == "get_brand_wcpay_request:fail"){
                        console.log('支付失败');
                        WeixinJSBridge.call('closeWindow');
                    } //使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回ok,但并不保证它绝对可靠。
                });
        }


    </script>
</head>

<body ontouchstart class="bg-gray">
{{template "sildePic.html" .}}


<div class="weui-pay">
    <div class="weui-pay-inner">
        <h1 class="weui-pay-title">预充金额(元)</h1>
        <div class="weui-pay-input"> <strong class="weui-pay-strong">￥</strong>
            <input type="number" id="money" name="money" class="weui-pay-inputs" placeholder="请输入金额">
        </div>

    </div>
    <div class="weui-pay-btn">
        <a href="javascript:;" class="weui-btn weui-btn_primary" onclick="chongzhi()">立即支付</a>
    </div>
    <ul class="weui-payselect-ul">
        <li class="weui-payselect-li" value="1">
            <a href="javascript:;" class="weui-payselect-a weui-payselect-on">1元</a>
        </li>
        <li class="weui-payselect-li" value="10">
            <a href="javascript:;" class="weui-payselect-a">10元</a>
        </li>
        <li class="weui-payselect-li" value="100">
            <a href="javascript:;" class="weui-payselect-a">100元</a>
        </li>
        <li class="weui-payselect-li" value="200">
            <a href="javascript:;" class="weui-payselect-a">200元</a>
        </li>
        <li class="weui-payselect-li" value="300">
            <a href="javascript:;" class="weui-payselect-a">300元</a>
        </li>
        <li class="weui-payselect-li" value="500">
            <a href="javascript:;" class="weui-payselect-a">500元</a>
        </li>
    </ul>

</div>

{{template "bottomNav.html" .}}

</body>

</head>
</html>