<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>长庆出行</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="/css/weui/weui.css"/>
    <link rel="stylesheet" href="/css/weui/weuix.css"/>

    <script src="/js/weui/zepto.min.js"></script>
    <script src="/js/weui/zepto.weui.js"></script>
    <script src="/js/weui/iscroll-lite.js"></script>
    <script src="/js/weui/lrz.min.js"></script>
    <script>
        function init() {
            var onRoadType = {{.onRoadType}};
            if (onRoadType == 2) {
                $.noti({
                    title: "敲黑板!!",
                    text: "您还有乘客没有送达哦^_^",
                    // media: "<img src='./images/present.png' />",
                    time: 4000,
                });
            } else if (onRoadType == 1) {
                $.noti({
                    title: "敲黑板!!",
                    text: "您有正在进行的行程，点击进入当前行程查看更多哦^_^",
                    // media: "<img src='./images/present.png' />",
                    time: 4000,
                });
            } else {
                $.noti({
                    title: "欢迎回来",
                    text: "绿色出行，有你有我，快快找到合适的行程出发吧 ^_^",
                    // media: "<img src='./images/present.png' />",
                    time: 4000,
                });
            }
        }
        function gotoDetail (oid) {
            this.window.location.href="/Portal/passengerorderdetail/" + oid;
        }
        function cancle (poId) {
            $.confirm("客官不再等等了？", "确认取消?", function() {
                $(".loading2").show();
                $.ajax({
                    type:"POST",
                    url:"/Portal/canclepo",
                    data:{
                        id:poId ,
                    },
                    dataType:"json",
                    success : function(result) {
                        console.log(result)
                        if (result.code != 0) {
                            $(".loading2").hide();
                            $.alert(result.msg,"操作异常");
                        }
                        else {
                            $(".loading2").hide();
                            $.toast("操作成功", 3000);
                            window.location.href = "/Portal/showpassengerorder";

                        }
                    },
                    error : function(result) {
                        $(".loading2").hide();
                        $.alert("网络繁忙，请重试","操作异常");
                    }
                });
            }, function() {
                //取消操作
            });
        }
    </script>
</head>

<body ontouchstart onload="init()">
{{template "sildePic.html" .}}
<div class="loading2 hide" data-text="处理中..."></div>

<div class="page-bd-15">
    <div class="weui-cells__title">
        <a href="{{.buttonHref}}" class="{{.buttonClass}}" onclick="{{.buttonFunc}}">{{.buttonValue}}</a>
    </div>

    {{if lt .orderNum  1}}
        <div class="weui-cells__title">您还没有进行过拼车，快去查查有没有需要的行程把</div>
    {{else}}
        <div class="weui-cells__title">历史行程列表</div>
    <div class="page-bd">
    {{range .poInfo}}
        <div class="weui-form-preview">
            <div class="weui-form-preview__hd">
                <label class="weui-form-preview__label f-green">
                    等待车主抢单
                </label>
                <em class="weui-form-preview__value f-orange">人找车</em>
            </div>
        </div>
        <div class="weui-form-preview__bd bg-gray">
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">出发时间：</label>
                <label class="weui-form-preview__label">{{.LaunchTime}}</label>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">出发地：</label>
                <label class="weui-form-preview__label">{{.SrcId.Level1}} {{.SrcId.Level2}} {{.SrcId.Name}}</label>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">目的地：</label>
                <label class="weui-form-preview__label">{{.DestId.Level1}} {{.DestId.Level2}} {{.DestId.Name}}</label>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">乘车人数：</label>
                <label class="weui-form-preview__label">{{.PNum}}</label>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">支付费用：</label>
                <label class="weui-form-preview__label">{{.Price}}元/人</label>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">上车地点：</label>
                <label class="weui-form-preview__label">{{.ThroughL}}</label>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">行程说明：</label>
                <label class="weui-form-preview__label">{{.Mark}}</label>
            </div>
            <div class="weui-form-preview__ft">
                <button type="submit" class="weui-form-preview__btn weui-form-preview__btn_danger" onclick="cancle({{.Id}})">立即取消</button>
            </div>
        </div>
    {{end}}
    {{range .orderInfo}}
    <div class="weui-form-preview" onclick="gotoDetail({{.Id}})">
        <div class="weui-form-preview__hd">
            <label class="weui-form-preview__label">
                {{ $orderStatus := .Status}}
            {{range $ind, $elem := $.StatusText}}
                {{if eq $orderStatus $ind}}
                    {{$elem.Text}}
            </label>
                    {{if lt $ind 4}}
                        <em class="weui-form-preview__value f-green">进入行程 <i class="icon icon-108"></i></em>
                    {{else}}
                        <em class="weui-form-preview__value f-blue">查看行程 <i class="icon icon-108"></i></em>
                    {{end}}
                {{end}}
            {{end}}
        </div>
        <div class="weui-form-preview__bd bg-gray">
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">单号：</label>
                <label class="weui-form-preview__label">{{.Order.Id}}</label>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">出发时间：</label>
                <label class="weui-form-preview__label">{{.Order.LaunchTime}}</label>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">出发地：</label>
                <label class="weui-form-preview__label">{{.Order.SrcId.Level1}} {{.Order.SrcId.Level2}} {{.Order.SrcId.Name}}</label>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">目的地：</label>
                <label class="weui-form-preview__label">{{.Order.DestId.Level1}} {{.Order.DestId.Level2}} {{.Order.DestId.Name}}</label>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">车牌号：</label>
                <label class="weui-form-preview__label">{{.Order.User.CarNum}}</label>
            </div>
        </div>
    </div>
    {{end}}
    </div>
    {{end}}


</div>
{{template "bottomNav.html" .}}

</body>

</head>
</html>