<!doctype html>

<head>
    <meta charset="utf-8">
    <title>长庆出行</title>
    <meta charset="utf-8">
    <title>长庆出行</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="/css/weui/weui.css"/>
    <link rel="stylesheet" href="/css/weui/weuix.css"/>

    <script src="/js/weui/zepto.min.js"></script>
    <script src="/js/weui/zepto.weui.js"></script>
    <script src="/js/weui/iscroll-lite.js"></script>
    <script src="/js/weui/lrz.min.js"></script>
    <script>
        $(function(){
            $('input, textarea, select').on('blur',function(){
                window.scroll(0, 0);
            });
        });
    </script>

</head>
<body ontouchstart>
<div class="weui-cells__title">手机号绑定</div>
<div class="weui-cells weui-cells_form">
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">手机号</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" placeholder="请输入手机号" type="tel" name="phoneNum" id="phoneNum" >
        </div>

    </div>
    <div class="weui-cell weui-cell_vcode">
        <div class="weui-cell__hd">
            <label class="weui-label">验证码</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" placeholder="验证码" type="number" id="verCode" maxlength="6">
        </div>
        <div class="weui-cell__ft">
            <button  class="weui-vcode-btn" id="getyanzhengma" onclick="settime(this)">获取验证码</button>
        </div>
    </div>
</div>
<div class="weui-btn-area">
    <a class="weui-btn weui-btn_primary" href="javascript:" id="btn" onclick="doVer()">提交验证</a>
    <p class="page-hd-desc f12">**手机号验证仅用来验证身份及后期乘车安全的保障</p>
    <p class="page-hd-desc f12">**平台承若绝不对外公开用户隐私信息</p>
</div>
<input type="hidden" name="userId" id="userId" value="{{.userId}}">
</body>

<script>
    $(function(){
       $("#phoneNum").on("change", function(e){
           checkPhoneNum();
       });
    });

    function checkPhoneNum () {
        var pattern = /^1[34578]\d{9}$/;
        if (pattern.test($("#phoneNum").val())) {
            return true
        } else {
            $.alert("手机号格式错误","信息错误");
        }
    }
    var countdown=60;
    var pn = "";

    function settime(obj) {

        var code = $(obj);
        if (countdown <= 0) {
            code.removeAttr('disabled');
            code.text("获取验证码");
            countdown =60;
            return;
        } else if (countdown == 60){
            if (! checkPhoneNum()) {
                return
            }
            getCode();
            countdown--;
        } else {
            code.text("重新发送(" + countdown + ")");
            code.attr('disabled',true);
            countdown--;
        }
        setTimeout(function() {
            settime(obj) }, 1000);

    }

    function getCode() {
        var phoneNum = document.getElementById('phoneNum');
        var userId = document.getElementById('userId');

        $.ajax({
            type:"POST",
            url:"/Ver/getvercode",
            data:{
                "phoneNum":phoneNum.value,
                "userId":userId.value
            },
            dataType:"json",
            success : function(result) {
                if (result.code != 0) {
                    $.alert(result.msg,"操作异常");
                    countdown = 0
                } else {
                    pn = phoneNum;
                    $.alert("验证码已发送至\"" + phoneNum.value + "\",请及时查看验证", "获取成功");
                }
            },
            error : function(result) {
                $.alert("网络繁忙，请重试","获取失败");
                countdown = 0
            }
        });
    }

    function doVer() {
        var userId = $("#userId").val();
        var phoneNum = $("#phoneNum").val();
        var verCode = $("#verCode").val();

        if (verCode == "") {
            $.alert("请填写验证码","操作异常");
            return;
        }
        $.ajax({
            type:"POST",
            url:"/Ver/verPhone",
            data:{
                "phoneNum":phoneNum,
                "userId":userId,
                "verCode":verCode,
            },
            dataType:"json",
            success : function(result) {
                if (result.code != 0) {
                    $.alert(result.msg,"验证异常");
                } else {
                    $.toast("验证成功", 3000);
                    window.location.href = result.url;
                }
            },
            error : function(result) {
                $.alert("网络繁忙，请重试","验证异常");
            }
        });
    }
</script>

</html>