<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>长庆出行</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="/css/weui/weui.css"/>
    <link rel="stylesheet" href="/css/weui/weuix.css"/>

    <script src="/js/weui/zepto.min.js"></script>
    <script src="/js/weui/zepto.weui.js"></script>
    <script src="/js/weui/iscroll-lite.js"></script>
    <script src="/js/weui/lrz.min.js"></script>
    <script src="/js/weui/iscroll-lite.js"></script>
    <script>
        $(function(){
            $('input, textarea, select').on('blur',function(){
                window.scroll(0, 0);
            });
            $(document.body).pullToRefresh({
                distance: 10,
                onRefresh:function() {
                    window.location.reload()
                    $(document.body).pullToRefreshDone();

                }
            });
        });
    </script>

</head>

<body ontouchstart >
    <div class="weui-pull-to-refresh__layer">
        <div class='weui-pull-to-refresh__arrow'></div>
        <div class='weui-pull-to-refresh__preloader'></div>
        <div class="down">下拉刷新</div>
        <div class="up">释放刷新</div>
        <div class="refresh">正在刷新</div>
    </div>
{{template "sildePic.html" .}}

<div class="page-hd">
    <a href="/Portal/searchpinput" class="weui-btn weui-btn_primary">重新搜索</a>
</div>

{{template "porderlist.html" .}}

{{template "bottomNav.html" .}}
</body>

</head>
</html>