<style>
    #slide1{height:150px;}
</style>
<script src="/js/weui/swipe.js"></script>
<script>
    $(function() {
        $('#slide1').swipeSlide({
            autoSwipe: true,//自动切换默认是
            speed: 3000,//速度默认4000
            continuousScroll: true,//默认否
            transitionType: 'cubic-bezier(0.22, 0.69, 0.72, 0.88)',//过渡动画linear/ease/ease-in/ease-out/ease-in-out/cubic-bezier
            lazyLoad: true,//懒加载默认否
            firstCallback: function (i, sum, me) {
                me.find('.dot').children().first().addClass('cur');
            },
            callback: function (i, sum, me) {
                me.find('.dot').children().eq(i).addClass('cur').siblings().removeClass('cur');
            }
        });
        $.ajax({
            type:"POST",
            url:"/Portal/gettop5",
            dataType:"json",
            success : function(result) {
                console.log(result)
                if (result.code != 0) {
                }
                else {
                    var oList = document.getElementById("zmd");
                    oList.innerHTML = "<marquee behavior=\"scroll\" direction=\"left\" height=\"20\" scrolldelay=\"150\" align=\"middle\" vspace=\"0\" hspace=\"0\">"+result.msg+"</marquee>";
                }
            },
            error : function(result) {
            }
        });
    });
</script>
<div id="zmd">
</div>
    <div class="slide" id="slide1">
        <ul>
            <!--<li>
                <a href="javascript:;">
                    <img src='/img/slice/logo5.png' alt="">
                </a>
            </li>-->
            <li>
                <a href="javascript:;">
                    <img src='/img/slice/logo6.png' alt="">
                </a>
            </li>
        </ul>
        <div class="dot">
            <!--<span></span>-->
            <span></span>
        </div>
    </div>
