<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>长庆出行</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="/css/weui/weui.css"/>
    <link rel="stylesheet" href="/css/weui/weuix.css"/>

    <script src="/js/weui/zepto.min.js"></script>
    <script src="/js/weui/zepto.weui.js"></script>
    <script src="/js/weui/iscroll-lite.js"></script>
    <script src="/js/weui/lrz.min.js"></script>
    <script src="/js/weui/iscroll-lite.js"></script>
    <script>

    </script>
</head>

<body ontouchstart>
{{template "sildePic.html" .}}

<table>
    <thead>
    <tr><th>时间</th><th>交易额</th><th>交易类型</th><th>账户余额</th></tr>
    </thead>
    <tbody >
    {{range .info}}
    <tr>
        <td title="时间">{{.Time}}</td>
        <td title="交易额">{{.Money}}</td>
        <td title="交易类型">
            {{ $oType := .Type}}
            {{range $ind, $elem := $.type}}
                {{if eq $oType $ind}}
                    {{$elem.Text}}
                    </label>
                {{end}}
            {{end}}
        </td>
        <td title="账户余额">{{.Balance}}</td>
    </tr>
    {{end}}
    </tbody>
</table>
{{template "bottomNav.html" .}}

</body>

</head>
</html>