<!doctype html>
<html>
<head>
    <title>用户中心</title>
    <meta content="text/html; charset=gbk" http-equiv="Content-Type"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta content="telephone=no" name="format-detection"/>
    <link rel="stylesheet" href="./css/base.css"/>
    <link rel="stylesheet" href="./css/index.css"/>
    <link href="css/touch.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript">navigator.__defineGetter__('userAgent', function () {
        return 'Mozilla/5.0 (iPhone; CPU iPhone OS 5_0 like Mac OS X) AppleWebKit/534.46 (KHTML, like Gecko) Version/5.1 Mobile/9A334 Safari/7534.48.3';
    });</script>

</head>
<body>

<div class="phone-wrapper" id="phone-wrapper">
    <!--top-->
    <div class="home-top">
        <a style="float:left;" href="javascript:history.go(-1);">返回</a>

    </div>
    <div class="container">
    </div>
    <!--body-->
    <div class="personal-body">
        <div class="per-header">
            <div id="avator" class="p-img"><img src="./img/timg.jpg"/></div>
            <div class="p-txt">
                <a href="/settings.m">
                    <ul>

                        <li><label>用户名</label><span id="nickname" class="per-name">HX5W68Y</span></li>
                        <li><label>手机号</label><span id="intro">13031478789</span></li>
                    </ul>
                </a>
            </div>
        </div>
        <ul class="per-selector">
            <li class="hg"></li>
            <li>
                <a href="#/">
                    <span>消息提醒</span><span id="p_notifications"><span id="msgcount"></span></span>
                    <i class="p_icon_g"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>乘客发布模板</span>
                    <i class="p_icon_g"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>车主发布模板</span>
                    <i class="p_icon_g"></i>
                </a>
            </li>
            <li class="hg"></li>
            <li>
                <a href="/settings.m">
                    <span>设置</span>
                    <i class="p_icon_g"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
<br/><br/><br/><br/>

</body>


</html>