<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>长庆出行</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="/css/weui/weui.css"/>
    <link rel="stylesheet" href="/css/weui/weuix.css"/>

    <script src="/js/weui/zepto.min.js"></script>
    <script src="/js/weui/zepto.weui.js"></script>
    <script src="/js/weui/iscroll-lite.js"></script>
    <script src="/js/weui/lrz.min.js"></script>
    <script src="/js/weui/iscroll-lite.js"></script>
    <script>

    </script>
</head>

<body ontouchstart>
{{template "sildePic.html" .}}
{{if eq .num 0}}
<div>
    <div class="weui-cells__title">您尚未进行过任何交易</div>
</div>
{{else}}

<ul class="weui-payrec">
{{range .info}}
    <div class="weui-pay-m">
        <li class="weui-pay-order">
            <dl class="weui-pay-line">
                <dd class="weui-pay-name">交易类型:
                    {{ $oType := .Type}}
                    {{range $ind, $elem := $.type}}
                        {{if eq $oType $ind}}
                            {{$elem.Text}}
                            </label>
                        {{end}}
                    {{end}}
                </dd>
            </dl>
            <dl class="weui-pay-line"><dt class="weui-pay-label">时间：</dt><dd class="weui-pay-e">{{.Time}}</dd></dl>
            <dl class="weui-pay-line"><dt class="weui-pay-label">交易额：</dt><dd class="weui-pay-e">￥{{.Money}}</dd></dl>
            <dl class="weui-pay-line"><dt class="weui-pay-label">账户余额：</dt><dd class="weui-pay-e">￥{{.Balance}}</dd></dl>
        </li>
    </div>
{{end}}
    {{end}}
{{template "bottomNav.html" .}}
</ul>

</body>

</head>
</html>