<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>长庆出行</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="/css/weui/weui.css"/>
    <link rel="stylesheet" href="/css/weui/weuix.css"/>

    <script src="/js/weui/zepto.min.js"></script>
    <script src="/js/weui/zepto.weui.js"></script>
    <script src="/js/weui/iscroll-lite.js"></script>
    <script src="/js/weui/lrz.min.js"></script>
    <script>

    </script>
</head>

<body ontouchstart>
{{template "sildePic.html" .}}


<div class="page-hd">
    <div class="weui-avatar center">
        <img src={{.list.WechatImg}}><span class="weui-icon-success weui-icon-safe-warn"></span>
    </div>
    <label class="hr1"></label>
</div>
<div class="weui-media-box__bd v-center">
    <p class="weui-media-box__desc">{{.list.Nickname}}</p>
</div>
<div class="weui-media-box__bd v-center">
    <p class="weui-media-box__desc">账户余额：{{.list.Balance}}</p>
</div>


<div class="page-bd">
    <div class="weui-cells__title">账户中心</div>
    <div class="weui-cells">
        <a class="weui-cell weui-cell_access" href="javascript:;">
            <div class="weui-cell__bd">
                <p>充值</p>
            </div>
            <div class="weui-cell__ft">
            </div>
        </a>
        <a class="weui-cell weui-cell_access" href="javascript:;">
            <div class="weui-cell__bd">
                <p>提现</p>
            </div>
            <div class="weui-cell__ft">
            </div>
        </a>
        <a class="weui-cell weui-cell_access" href="/Portal/accountflow">
            <div class="weui-cell__bd">
                <p>查看流水</p>
            </div>
            <div class="weui-cell__ft">
            </div>
        </a>
    </div>
    <div class="weui-cells__title">用户信息</div>
    <div class="weui-cells">
        <a class="weui-cell weui-cell_access" href="/Ver/phonever">
            <div class="weui-cell__bd">
                <p>手机号绑定</p>
            </div>
            <div class="weui-cell__ft">
            </div>
        </a>
        <a class="weui-cell weui-cell_access" href="/Portal/driverconfirminput">
            <div class="weui-cell__bd">
                <p>车主认证</p>
            </div>
            <div class="weui-cell__ft">
            </div>
        </a>
    </div>
    <div class="weui-cells__title">其他</div>
    <div class="weui-cells">
        <a class="weui-cell weui-cell_access" href="/Portal/help">
            <div class="weui-cell__bd">
                <p>帮助中心</p>
            </div>
            <div class="weui-cell__ft">
            </div>
        </a>
        <a class="weui-cell weui-cell_access" href="/Portal/aboutus">
            <div class="weui-cell__bd">
                <p>关于我们</p>
            </div>
            <div class="weui-cell__ft">
            </div>
        </a>
        <a class="weui-cell weui-cell_access" href="/Portal/disclaimer">
            <div class="weui-cell__bd">
                <p>免责申明</p>
            </div>
            <div class="weui-cell__ft">
            </div>
        </a>
        <a class="weui-cell weui-cell_access" href="javascript:;">
            <div class="weui-cell__bd">
                <p>投诉建议</p>
            </div>
            <div class="weui-cell__ft">
            </div>
        </a>
    </div>
</div>
{{template "bottomNav.html" .}}

</body>

</head>
</html>
